body {
    margin: 0;
    background-color: #917959;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cabecera {
    text-align: left;
    margin: 0;
    padding: 10px;
    background-color: #ffdcad;
}

.cabecera h1 {
    font-size: 20px;

}