body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #702a91;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
}

.cabecera {
    display: flex;
    text-align: left;
    margin: 0;
    padding: 10px;
    background-color: #ffdcad;
}

.logo {
    width: 50px;
}

.cabecera h1 {
    font-size: 20px;
}

.footer {
    background-color: aqua;
    min-height: 30px;
    width: auto;
}